<div class="container">
  <h3 class="text-secondary mt-3">Create New Tasks</h3>
  <form #task="ngForm" (submit)="newTask(task.value); task.reset()">
    <div class="row mt-3">
      <div class="col-md">
        <div class="form-floating">
          <input
            class="form-control"
            type="text"
            name="name"
            required
            #name="ngModel"
            placeholder="Task Name"
            ngModel
            id="name"
          />
          <label for="name">Task Name</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input
            type="date"
            name="dateOfCompletion"
            class="form-control"
            id="floatingInputValue"
            required
            #dateOfCompletion="ngModel"
            placeholder="Task Name"
            ngModel
          />
          <label for="floatingInputValue">Date of Completion</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mt-3">
          <textarea
            class="form-control"
            name="description"
            placeholder="Enter the task description"
            id="description"
            required
            #description="ngModel"
            ngModel
          ></textarea>
          <label for="description">Description</label>
        </div>
      </div>
    </div>
    <button class="my-3 btn btn-outline-primary" type="submit">Add task</button>
    <button class="m-3 btn btn-danger" type="reset" (click)="task.reset()">
      Clear all
    </button>
  </form>
  <br />
</div>
