<nav class="navbar navbar-expand p-0 navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Task Manager</a>
    <div class="navbar" id="nav-options">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="clearAll()">Clear History</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
